@model IEnumerable<hr_management.Models.Designation>


@{
    ViewData["Title"] = "Index";
}

<div class="row pt-3">
    <div class="col-6">
        <h2 class="text-primary">Designation List</h2>
    </div>
    <div class="col-6 text-end ">
        <a asp-controller="Designation" asp-action="Create" class="btn btn-primary"><i class="bi bi-person-plus-fill"></i> Add Designation</a>

    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"> <i class="bi bi-info-square"></i>Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="h-auto btn btn-danger"><i class="bi bi-trash text-primary"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>